# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform.lock.hcl

# .tfvars files that are customized
*.tfvars

# Crash log files
crash.log

# Exclude any files ending in `.tf` that are not in the root of the repository
**/*.tf
